@font-face {
    font-family: 'MontserratLight';
    src: url('../resources/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../resources/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'MontserratMedium';
    src: url('../resources/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../resources/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'MontserratExtrabold';
    src: url('../resources/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'MontserratBlack';
    src: url('../resources/fonts/Montserrat-Black.ttf');
}

body {
    height: 100%;
    font-family: 'MontserratRegular';
    background-color: #023E8A;
}

h1 {
    text-align: center;
    font-family: 'MontserratBold';
    padding-bottom: 20px;
    color: #023E8A;
}

h3 {
    text-align: center;
    padding-bottom: 30px;
    color: #00B4D7;
}

.contact_form {
    width: 50%;
    height: auto;
    margin: 80px auto;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 50px;
}

input {
    background-color: #ffffff;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #00B4D7;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

textarea {
    background-color: #ffffff;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: 2px solid #00B4D7;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

button {
    display:flex;
    margin: 0 auto;
    padding: 20px 45px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    text-transform: uppercase;
    background-color: #023E8A;
    color: #ffffff;
    border-radius: 10px;
    cursor:auto;
}
